


<div class="uper">
<h4>deepak</h4>
     
</div>


<nav class="navbar navbar-expand-lg bg- mt-1">
    <div class="container-fluid">
      <a class="navbar-brand ms-3" href="#"><img src="./assets/New folder/woman-jewelry_1284-11367.webp" style="width: 55px; height:55px; border: 2px solid black;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active ms-5" aria-current="page" [routerLink]="['./rings']"><h5>Home</h5></a>
          </li>
          <li></li>
          <li>
               <a class="nav-link active ml-4 ms-5 " aria-current="page" [routerLink]="['/rose']" >Gift</a>

          </li>
          <li>
            <a class="nav-link active ml-4 ms-5 " aria-current="page" >Rings</a>

       </li>
        </ul>

        <button type="button" class="btn btn-primary"  position="relative"><i class="bi bi-cart3"></i>
        
    

          <span >
            {{cartvalue}}
            
          </span>
        
        </button>
      </div>
    </div>
  </nav>

  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/vedeo/shot2.png" class=" w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/New folder/Diva-Dream-_1000X334_3ccc3caf-0f0b-4801-acaa-b43f3d45ae23_700x324.webp" class=" w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5></h5>
          <p></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="./assets/New folder/Anushka_s-fav-2_f2d59f1a-c23d-45a2-95e3-4f538ef7817e_700x324.webp" class=" w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>